<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.askhento.alfred_keka</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>12D6EF08-E30F-4895-B4D7-43E835FE608D</key>
		<array/>
		<key>46A6E1DC-D499-4A8F-BEEC-BB63C35179FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D6EF08-E30F-4895-B4D7-43E835FE608D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE909632-144C-4DD7-BF06-02CFF64A8773</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D6EF08-E30F-4895-B4D7-43E835FE608D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B733E00D-876F-463A-BFBB-4F1FA8BEA8CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D6EF08-E30F-4895-B4D7-43E835FE608D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Askhento</string>
	<key>description</key>
	<string>zip with keyboard or keyword triggers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Compress with Keka</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B733E00D-876F-463A-BFBB-4F1FA8BEA8CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zip</string>
				<key>subtext</key>
				<string>select on or more files</string>
				<key>text</key>
				<string>Create a zip archive file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>46A6E1DC-D499-4A8F-BEEC-BB63C35179FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript create_zip_archive_file.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12D6EF08-E30F-4895-B4D7-43E835FE608D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>zip</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AE909632-144C-4DD7-BF06-02CFF64A8773</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This will use Keka app to compress files</string>
	<key>uidata</key>
	<dict>
		<key>12D6EF08-E30F-4895-B4D7-43E835FE608D</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>46A6E1DC-D499-4A8F-BEEC-BB63C35179FF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AE909632-144C-4DD7-BF06-02CFF64A8773</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>B733E00D-876F-463A-BFBB-4F1FA8BEA8CB</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/Askhento</string>
</dict>
</plist>
